* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  transition: all 300ms;
}

.App {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.containerOne,
.containerTwo {
  width: 45vw;
  height: 90vh;
  /* border: 1px solid black; */
}

h1 {
  /* text-align: justify; */
  text-transform: uppercase;
  font-size: 45px;
}

.text,
.text h1 {
  display: inline;
}
